a:visited {
    color: white;
}

header,
main,
footer {
    width: 100vw;
}

header {
    height: 50px
}

footer {
    position: absolute;
    bottom: 0;
}

main {
    display: flex;
    padding-left: 50px;
}

#textos {
    width: 60%;

}

#imagens {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#servico1 {
    transform: translateY(-30px)
}

#servico2 {
    transform: translateY(30px)
}

#header-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: 50px;
}

#header-btn1 {
    margin-right: 35px;
}

#footer-btn {
    margin-left: 200px;
    margin-bottom: 20px;
}

#footer-btn a {
    font-size: 1em;
    padding: 6px 20px;
}

.titulo {
    font-size: 4em;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    color: #2A6EF2;
    margin-top: 40px;
}

.texto {
    font-size: 2.2em;
    font-family: Helvetica, sans-serif;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 30px;
    width: 57vw;
    line-height: 35px;
}

.btn {
    font-size: 2em;
    padding: 6px 25px;
    padding-bottom: 8px;
    border-radius: 50px;
    border: none;
    background-color: #2A6EF2;
    font-weight: 800;
    letter-spacing: 1px;
    transition: transform .1s linear;
    color: white;
}

.btn a {
    font-size: .9em;
}

.btn:hover {
    transform: translateY(3px);
    cursor: pointer;
}

.imagem-servico {
    width: 200px;
    height: 400px;
    border-radius: 30px;
}

@media(min-width:1600px) {
    main {
        padding-left: 100px;
        padding-top: 50px;
    }

    #footer-btn {
        margin-bottom: 10px;
    }

    .btn {
        font-size: 3em;
    }

    .texto {
        font-size: 3.5em;
    }

    .imagem-servico {
        width: 250px;
        height: 500px;
    }
}

@media(max-width:1000px) {
    body {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 0;
    }

    footer {
        position: relative;
        display: flex;
    }

    header {
        height: 15vh;
    }

    main,
    #header-nav,
    #textos {
        flex-direction: column;
        align-items: center;
    }

    main,
    #header-nav,
    #textos {
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    #header-btn1 {
        margin: 0 0 20px;
    }

    #servico1,
    #servico2 {
        transform: translateY(0);
    }

    #textos {
        margin-left: 50px;
    }

    #imagens {
        margin: 100px 0 0 10px;
        width: 80%;
    }

    #header-nav {
        height: 15vh;
        margin: 15px 0;
    }

    #footer-btn {
        position: relative;
        top: -410px;
        left: -150px;
    }

    #texto1,
    #texto2 {
        width: 90%;
    }

    .btn {
        font-size: 2.2em;
        width: 310px;
    }
}

@media(max-width:750px) {
    #imagens {
        width: 100%;
        flex-direction: column;
    }

    #textos {
        margin-left: 20px;
    }

    #footer-btn {
        top: -880px;
    }

    #servico1 {
        margin-bottom: 20px;
    }
}