/* importação de recursos */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    overflow: hidden;
}

a,
a:visited {
    text-decoration: none;
}